/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset default styles */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

/* color palette & other vars */

:root {
	/* colors */
	--color-black: #000;
	--color-gold-light: #dcd0b4;
	--color-gold-dark: #574a34;
	--color-blackish: #0e0e0e;
	--color-orange: #db3011;
	--color-white: #fff;
	/* dimensions */
	--container-width-sm: 94%;
	--container-width-md: 90%;
	--container-width-lg: 80%;
	/* transition */
	--transition: all 300ms ease;
}

/* general tags */

body {
	font-family: 'Poppins', sans-serif;
	color: var(--color-white);
	background-color: var(--color-black);
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

a {
	color: var(--color-white);
}

section {
	padding: 6rem 0;
}

section h2 {
	margin-bottom: 4rem;
	text-align: center;
}

.container {
	margin: 0 auto;
}

.btn {
	display: inline-block;
	padding: 0.5rem 2.5rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	border-radius: 50px;
	background-color: transparent;
	transition: var(--transition);
	cursor: pointer;
}

.btn:hover {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
}

/* nav */

nav {
	width: 100vw;
	height: 4.5rem;
	position: fixed;
	top: 0;
	background-color: transparent;
	z-index: 11;
}

.nav-container {
	width: var(--container-width-lg);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav img {
	width: 10%;
	padding: 0.3rem;
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.nav-menu a {
	font-size: 0.9rem;
	font-weight: 400;
	letter-spacing: 0.08rem;
	transition: var(--transition);
}

.nav-menu a:hover {
	color: var(--color-orange);
}

.nav-btn {
	display: none;
}

/* javascript ----- nav background color change on scroll */

.window-scroll {
	background-color: var(--color-black);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	transition: all 500ms ease;
}

/* header */

header {
	height: 90vh;
	position: relative;
	margin-bottom: 5rem;
	overflow: hidden;
	background-image: url('../assets/images/index/elesh-norn-one-grad.jpg');
}

.header-container {
	width: 40%;
	height: 100%;
	position: relative;
	top: 18rem;
	align-items: center;
}

.header-img {
	text-align: center;
}

.header-img img {
	width: 80%;
}

.header-info {
	text-align: center;
}

.header-info p {
	margin: 0 2rem 2.4rem;
	font-size: 1.5rem;
	font-weight: 200;
	letter-spacing: 0.08rem;
	text-align: center;
	text-shadow: 0 0.6rem 0.5rem rgba(0, 0, 0, 1);
}

.header-btn {
	color: var(--color-gold-light);
	border: 2px solid var(--color-gold-light);
}

.header-btn:hover {
	color: var(--color-black);
	background-color: var(--color-gold-light);
}

/* upcoming products */

.upcoming {
	margin-top: -5rem;
	background: linear-gradient(
		to bottom,
		#000 0%,
		#000 50%,
		#dcd0b4 50%,
		#dcd0b4 100%
	);
}

.upcoming-container {
	max-width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4rem;
}

.upcoming-card {
	text-align: center;
	border-radius: 15px;
	background-color: var(--color-blackish);
	overflow: hidden;
	transition: var(--transition);
	z-index: 10;
}

.upcoming-card-img img {
	width: 100%;
	height: 50%;
}

.upcoming-card:hover {
	transform: scale(1.05);
}

.upcoming-card-info {
	padding: 1.3rem;
}

.upcoming-card-info h4 {
	font-family: 'Merriweather', serif;
	font-size: 1.5rem;
	font-weight: 900;
	color: var(--color-gold);
}

.upcoming-card-info-img {
	margin-bottom: -7rem;
}

.upcoming-card-info-img img {
	width: 80%;
	position: relative;
	bottom: 6.5rem;
}

.upcoming-card-info p {
	margin: 1.2rem 1.5rem 2rem;
	font-size: 0.9rem;
	font-weight: 200;
	color: var(--color-white);
}

.mom-btn {
	color: #f2e94a;
	border: 1px solid #f2e94a;
}

.mom-btn:hover {
	color: var(--color-blackish);
	border-color: #f2e94a;
	background-color: #f2e94a;
}

.lotr-btn {
	color: #59ab90;
	border: 1px solid #59ab90;
}

.lotr-btn:hover {
	color: var(--color-blackish);
	border-color: #59ab90;
	background-color: #59ab90;
}

.masters-btn {
	color: #d64f6d;
	border: 1px solid #d64f6d;
}

.masters-btn:hover {
	color: var(--color-blackish);
	border-color: #d64f6d;
	background-color: #d64f6d;
}

/* connect wotc */

.connect-wotc {
	background-color: var(--color-gold-light);
}

.connect-wotc-container {
	text-align: center;
}

.connect-wotc-container h2 {
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 1rem;
	color: var(--color-black);
}

.connect-wotc-social {
	display: flex;
	justify-content: center;
	gap: 6rem;
	font-size: 2rem;
}

.connect-wotc-social a {
	color: var(--color-black);
	transition: var(--transition);
}

.connect-wotc-social a:hover {
	color: var(--color-gold-dark);
	text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

/* card database calling */

.database-card-call {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 6rem;
	padding: 0;
	background-color: var(--color-black);
	box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}

.database-card-img img {
	width: 130%;
}

.database-card-info {
	width: 80%;
	margin-left: 2rem;
}

.database-card-info h3 {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	color: var(--color-orange);
}

.database-card-info p {
	width: 95%;
	margin-bottom: 4rem;
	font-size: 1.2rem;
	font-weight: 200;
}

.database-card-info a {
	font-size: 1.2rem;
	font-weight: 200;
	color: var(--color-gold-light);
	transition: var(--transition);
}

.database-card-info a i {
	padding-left: 1rem;
}

.database-card-info a:hover {
	color: var(--color-white);
}

/* footer */

.footer-links {
	display: grid;
	grid-template-columns: 45% 55%;
	padding-left: 6rem;
	padding-right: 6rem;
	background: linear-gradient(
		180deg,
		hsla(39, 24%, 52%, 1) 0%,
		hsla(42, 36%, 78%, 1) 68%
	);
	box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.wotc-side img {
	width: 20%;
	margin-bottom: 2rem;
}

.footer-terms-links {
	display: flex;
	gap: 2rem;
	margin-bottom: 2rem;
	font-weight: 200;
}

.footer-terms-links a,
.footer-wotc-social a {
	color: var(--color-gold-dark);
	transition: var(--transition);
}

.footer-terms-links a:hover,
.footer-wotc-social a:hover {
	color: var(--color-black);
}

.footer-wotc-social {
	display: flex;
	gap: 3rem;
	font-size: 1.2rem;
}

.wotc-side h2,
.dev-side h2 {
	font-size: 2.5rem;
	color: var(--color-gold-light);
}

.wotc-side h2 {
	text-align: left;
}

.dev-side h2 {
	text-align: right;
}

.dev-info-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
}

.dev-info h3 {
	margin-bottom: 0.2rem;
	font-size: 1.3rem;
	color: var(--color-gold-dark);
}

.dev-info h4 {
	margin-bottom: 1.5rem;
	font-size: 1.1rem;
	font-weight: 400;
	color: var(--color-black);
}

.dev-loc-phone {
	margin-bottom: 1.5rem;
	font-weight: 200;
	color: var(--color-gold-dark);
}


/* === Breno alterou o paddin de 0.8 para 0.3 === */
.dev-loc-phone li i {
	padding-right: 0.3rem;
}

.dev-info-socials {
	display: flex;
	gap: 2rem;
}

.dev-info-socials a {
	font-size: 1.1rem;
	color: var(--color-gold-dark);
	transition: var(--transition);
}

.dev-info-socials a:hover {
	color: var(--color-black);
}

/* copyright */

.copyright {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1.5rem;
	font-size: 1.1rem;
	font-weight: 200;
}

.footer-copyright-left {
	text-align: left;
}

.footer-copyright-right {
	text-align: right;
}
