/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* reset default stules */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	
}

/* color palette & other vars */

:root {
	/* colors */
	--color-black: #000;
	--color-gold-light: #dcd0b4;
	--color-gold-dark: #574a34;
	--color-blackish: #0e0e0e;
	--color-orange: #db3011;
	--color-white: #fff;
	/* dimensions */
	--container-width-sm: 94%;
	--container-width-md: 90%;
	--container-width-lg: 80%;
	/* transition */
	--transition: all 300ms ease;
}

/* general tags */

body {
	font-family: 'Poppins', sans-serif;
	color: var(--color-white);
	background-color: var(--color-black);
	text-decoration: inherit;
}

.container {
	background-image: linear-gradient(to bottom, transparent 0%, #000000 99%), url(./../assets/images/lore/lore-bg.jpeg);
	width: 100%;
	height: 521px;
	display: grid;
}

.container-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

.container-nav img {
	width: 118.68px;
	height: 41.14px;
	margin-left: 96px;
}

.container-nav-menu {
	display: flex;
	gap: 50px;
	margin-right: 96px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 18px;
	color: #FFFFFF;
}

.container-nav-menu a{
	color: white;
	text-decoration: none;
}

.container-nav-menu a:hover{
	text-decoration: inherit;
	color: red
}

.container-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-center img{
	width: 478px;
	height: 195px;
	top: 150px;
}

.container-center p{
	width: 563px;
	height: 93px;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0px 3px 3px #000000;
	padding: 10px;
}

.conteiner-main {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 20px;
	border: red solid 5px;
	grid-gap: 50px;
}

.formats-and-rules-filter {
	display: grid;
	justify-items: center;
	align-items: center;
	border: green solid 3px;
	grid-gap: 10px;
}

.formats-and-rules-filter h1{
	display: grid;
}

.formats-rules-filter {
	margin: 0;
}

.formatsfilter {
	background-color: #8A7759;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.45) inset;
	width: 205px;
	height: 34px;
	color: white;
}

.formats-rules-filter .rules-btn {
	display: felx;
}

.rulesfilters {
	background-color: #DCD0B4;
	width: 205px;
	height: 34px;
	color: rgba(87, 74, 52, 1);
}





	
}

