header {
	background-image: url('../assets/images/rules/rules-bg.jpg');
}

.header-container {
	top: 13.5rem;
}

.rules-header-img {
	text-align: center;
}

.rules-header-img img {
	width: 80%;
	margin-bottom: 1.5rem;
}

/* formats & rules filter */

.formats-and-rules-filter {
	padding: 3rem 0;
	text-align: center;
}

.formats-and-rules-filter h1 {
	margin-bottom: 4rem;
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
	color: var(--color-gold-light);
}

.formats-rules-filter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rules-btn {
	padding: 0.5rem 3rem;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 200;
	letter-spacing: 0.4rem;
	color: var(--color-gold-dark);
	background-color: var(--color-gold-light);
	cursor: pointer;
}

.content {
	display: none;
}

.active {
	display: block;
}

.active-button {
	color: var(--color-gold-light);
	background-color: var(--color-gold-dark);
	box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

/* game actions & advanced topics */

.rules-info-container {
	max-width: var(--container-width-lg);
	margin: 0 auto;
}

.game-actions-container h2 {
	margin-bottom: 1.2rem;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	color: var(--color-orange);
}

.game-actions-container > p,
.advanced-topics-container > p {
	width: 60%;
	margin: 0 auto 2.5rem;
	font-weight: 200;
	font-size: 1rem;
	line-height: 1.6;
	text-align: center;
}

.game-actions-info,
.advanced-topics-info {
	max-width: 90%;
	height: 90vh;
	padding: 2rem;
	margin: 0 auto 6rem;
	border: 2px solid var(--color-gold-light);
	border-radius: 15px;
	background-color: #181818;
	box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
}

.game-actions-info h3,
.advanced-topics-info h3 {
	font-weight: 400;
	font-size: 1.2rem;
	color: var(--color-gold-light);
	margin-bottom: 1rem;
}

.game-actions-info h3::before,
.advanced-topics-info h3::before {
	content: '•';
	padding: 0 1rem;
}

.game-actions-info p,
.advanced-topics-info p {
	margin: 1.2rem 0;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 0.9rem;
	line-height: 1.8;
}

.tapping p {
	margin-bottom: 3rem;
}

.casting-img,
.attacking-img,
.stack-img,
.parts-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.attacking-img {
	gap: 5rem;
}

.last-img img {
	width: 18%;
}

.attacking ul {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1.6;
	color: var(--color-gold-light);
}

.attacking ul li::before,
.parts-info ul li::before {
	content: '•';
	padding: 0 0.5rem;
}

.stack {
	margin-top: 4rem;
}

.stack-info {
	max-width: 90%;
	margin: 3rem auto 0;
}

.stack-info h4 {
	margin-top: 3rem;
	font-weight: 400;
	font-size: 0.9rem;
	text-decoration: underline;
}

.stack-info p {
	font-size: 0.8rem;
	color: #d7d7d7;
}

.stack-info em {
	color: var(--color-gold-light);
}

.stack-info b {
	color: var(--color-orange);
}

.stack-img img {
	width: 25%;
}

/* parts of the turn */

.parts-of-the-turn {
	max-width: var(--container-width-lg);
	padding: 2rem 0 6rem;
	margin: 0 auto;
}

.parts-of-the-turn h1 {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	letter-spacing: 0.5rem;
	color: var(--color-gold-light);
	text-align: center;
}

.parts-of-the-turn > p {
	max-width: 80%;
	margin: 0 auto;
	font-weight: 200;
	text-align: center;
}

.parts-img {
	padding: 1.5rem;
}

.parts-info {
	max-width: 70%;
	margin: 0 auto;
}

.parts-info h2 {
	margin-bottom: 1rem;
	font-weight: 500;
	font-size: 1.5rem;
	text-align: left;
	color: var(--color-orange);
}

.parts-info ul {
	margin-bottom: 3rem;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 0.9rem;
	line-height: 1.8;
}

.parts-info span {
	font-size: 1rem;
	text-decoration: underline;
	color: var(--color-gold-light);
}
